<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993051133201-3ndmj65sucqg75n68e2do5vq6rbd9ef9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993051133201-3ndmj65sucqg75n68e2do5vq6rbd9ef9</string>
	<key>API_KEY</key>
	<string>AIzaSyB-sCGiZNQgxF2zxVkDFrLUSjU1zGsyc2o</string>
	<key>GCM_SENDER_ID</key>
	<string>993051133201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yoor.yoorapp</string>
	<key>PROJECT_ID</key>
	<string>yoor-7fa7b</string>
	<key>STORAGE_BUCKET</key>
	<string>yoor-7fa7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993051133201:ios:e959ebad4e5393a5b938b0</string>
</dict>
</plist>